:not(u), :not(s) {
	text-decoration: none;
	outline: none;
}

body, .step {
	cursor: pointer !important;
}
.step {
	box-shadow: 0 0 3px red;
	word-wrap: break-all;
}
.style-active {
	box-shadow: 0 0 10px red;
	transition: box-shadow 0.5s !important;
}

#quill {
	position: absolute;
	top: 0%;
	left: -60%;
	width: 60%;
	height: 100%;
	overflow: hidden;
	z-index: 4;
	transition: left 0.5s;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.7);
}
#qull .ql-toolbar {
	position: relative !important;
	top: 0 !important;
}
#quill #editor {
	height: 100%;
	overflow-x: scroll;
}
.ql-formats {
	margin-top: 5px;
}

#impress {
	transition: left 0.5s, transform 0.5s !important;
}

.impress-editing {
	position: absolute;
	left: 60% !important;
	width: 40% !important;
	height: 100% !important;
	overflow-y: scroll !important;
}

.impress-editing #impress {
	position: absolute;
	left: 1%;
	right: 1%;
	width: 98% !important;
	height: 100% !important;
}

.impress-editing #impress .step {
	position: relative;
	width: 900px;
	box-shadow: 0 0 5px black;
	transition: box-shadow 0.3s;
	margin-top: 30px;
}

.impress-editing #impress .active {
	box-shadow: 0 0 5px red;	
}

#style-panel {
	position: absolute;
	bottom: -165px;
	right: 0;
	width: 30%;
	height: 165px;
	min-width: 400px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px 0 0 0;
	transition: bottom 0.3s;
}

#style-panel .input-groups {
	float: left;
}
#style-panel .input-groups .input-group {
	margin: 10px;
	width: 105px;
}

#translate .input-group {
	width: 120px !important;
}

.input-groups h3 {
	display: block;
	clear: both;
	font-size: 20px;
	font-family: 'kaiti';
	margin: 5px;
}



#tool {
	position: fixed !important;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 52px;
  	display: flex;
  	flex-direction: column;
  	z-index: 3;
}
#tool button {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 50px;
	transition: all 0.3s;
	user-select: none;
	box-shadow: 0px 0px 10px black;
	outline: none;
	text-decoration: none;
	border: none;
	background: none;
	margin-bottom: 20px;
}
#tool button:hover {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 5px black;
}
#tool button:active {
	background-color: white;
	box-shadow: 0px 0px 10px white;
}
#tool #insert-slide, #remove-slide {
	display: none;
}

html, body, #impress-container {
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: opacity 0.5s;
	overflow: hidden;
}


.ql-picker-item:hover {
	box-shadow: 0 0 4px blue;
}


.step pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
.step pre {
    white-space: pre-wrap;
    margin: 10px;
    padding: 10px !important;
    font-size: 20px;
    font-family: Arial,Verdana, Sans-serif !important;
}
.step code, pre {
    background-color: #f0f0f0;
    border-radius: 3px;
}

p.ql-video {
	margin: 5px 0;
	box-shadow: 0 0 1px gray;
	padding: 0;
}

.step video, .ql-video video {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	margin: 0px auto;
	height: 320px;
	transition: opacity 0.8s;
	opacity: 0;
}
.step p, .ql-editor p {
	padding: 5px 0;
	font-size: 18px;
	font-family: 'Microsoft-YaHei';
}



#formula-editor {
	position: fixed;
	left: 0%;
	right: 0%;
	top: 50%;
	transform: translateY(-50%);
	width: 600px;
	height: 500px;
	margin: 0 auto;
	z-index: -1;
	border-radius: 10px;
	box-shadow: 0 0 15px black;
	font-size: 13px;
	transition: opacity 0.5s;
	opacity: 0;
}
#formula-editor #input,  #formula-editor #output {
	height: 50%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	border: 15px solid white;
	background-color: #f0f0f0;
}
#formula-editor #output {
	border-radius: 0px 0px 10px 10px;
	overflow: scroll;
}

#formula-editor #buffer {
	display: none;
}


#video-select {
	position: fixed;
	left: 0%;
	right: 0%;
	top: 50%;
	transform: translateY(-50%);
	width: 300px;
	height: 190px;
	margin: 0 auto;
	z-index: -1;
	border-radius: 5px;
	box-shadow: 0 0 15px black;
	font-size: 13px;
	transition: opacity 0.5s;
	opacity: 0;
	background-color: white;
	padding: 15px;
}

input[name="filename"] {
	z-index: 3;
	opacity: 0;
}
#insert-video .input-group {
	margin: 10px 0;
}
.select-file {
	position: relative;
	top: -44px;
    left: 53px;
    width: 217px;
    height: 34px;
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding: 6px 12px;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0;
    text-align: center;
}
.video-title {
	display: block;
	margin: 8px;
	text-align: center;
}

.ql-editor ol>li, .ql-editor ul>li {
	padding: 10px;
}

.ql-syntax {
	font-size: 25px !important;
}

#progress-bar {
	position: absolute;
	bottom: 5px;
	left: 10%;
}